<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票小工具-处理股票信息</title>
    <link rel="StyleSheet" href="../webjars/bootstrap/3.4.1/css/bootstrap.css" type="text/css">
    <link rel="StyleSheet" href="../static/css/common/common.css" type="text/css"/>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon"/>
    <link rel="bookmark" href="../static/favicon.ico" type="image/x-icon"/>
    <link rel="StyleSheet" href="../static/plugins/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="StyleSheet" href="../static/plugins/flavr/flavr.css" type="text/css"/>
    <style type="text/css">
        .mar30{
            margin-top: 30px;
        }

    </style>
</head>
<body class="page-bg container" style="background-color: #eeeeee">
 首页
<script type="text/javascript" src="../webjars/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/3.4.1/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/plugins/flavr/flavr.min.js"></script>
<script type="text/javascript" src="../static/myjs/myjs.js"></script>
<script type="text/javascript" src="tradelogin.js"></script>
</body>
</html>