<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/myjs/commonCss.js"></script>
 <style type="text/css">

 </style>
</head>
<body class="page-bg container">
<div>
    <div id="custom-toolbar">

    </div>
    <!-- 表格-开始  -->
    <table id="mockHisDeal_table" data-toggle="table"
           class="table-striped table-bordered table-hover">
    </table>
</div>
<script type="text/javascript" src="../static/myjs/commonJs.js"></script>

</body>
</html>
