<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>股票工具--页面处理</title>
    <meta name="Keywords" content="股票工具、股票页面">
    <meta name="Description" content="股票工具、股票页面">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="static/plugins/bootstrap/css/bootstrap.css" type="text/css">;
    <link rel="StyleSheet" href="static/plugins/bootstrap-table/bootstrap-table.min.css" type="text/css"/>;
    <style>
        .menuTop{
            font-size: 20px;
            color: red;
        }
    </style>
</head>
<body class="page-bg" id='top'>
<div class="row" style="margin-top:15px;">

</div>
<div class="row" style="margin-top:15px;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">菜单功能</th>
            <th scope="col">跳转地址</th>
            <th scope="col">功能介绍</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td class="menuTop">用户登录模块</td>
                <td></td>
                <td>用户登录模块</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户登录</td>
                <td><a href='login.html'>login.html</a></td>
                <td>用户登录首页</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交易用户登录</td>
                <td><a href='tradelogin.html'>tradelogin.html</a></td>
                <td>交易用户登录</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="menuTop">股票信息模块</td>
                <td></td>
                <td>股票信息模块</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询股票信息</td>
                <td><a href='stock.html'>stock.html</a></td>
                <td>查询股票信息</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自选股票</td>
                <td><a href='stock_selected.html'>stock_selected.html</a></td>
                <td>自选股票维护</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自选股票最近交易记录</td>
                <td><a href='stock_history.html'>stock_history.html</a></td>
                <td>自选股票最近交易记录</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td class="menuTop">小工具模块</td>
                <td></td>
                <td>小工具模块</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清仓</td>
                <td><a href='tool_clear.html'>tool_clear.html</a></td>
                <td>股票清仓</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;补仓</td>
                <td><a href='tool_cover.html'>tool_cover.html</a></td>
                <td>股票补仓</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;减仓</td>
                <td><a href='tool_reduce.html'>tool_reduce.html</a></td>
                <td>股票减仓</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="menuTop">系统配置</td>
                <td></td>
                <td>系统配置</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;假期查询</td>
                <td><a href='holiday.html'>holiday.html</a></td>
                <td>假期查询</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全局参数配置</td>
                <td><a href='config.html'>config.html</a></td>
                <td>全局参数配置</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;缓存key列表查询</td>
                <td><a href='cache.html'>cache.html</a></td>
                <td>缓存key列表查询</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="menuTop">股票统计分析功能</td>
                <td></td>
                <td>股票统计分析功能</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周和图表统计</td>
                <td><a href='stock_stat.html'>stock_stat.html</a></td>
                <td>周和图表统计</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="menuTop">股票交易配置</td>
                <td></td>
                <td>股票交易配置</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持的交易方法</td>
                <td><a href='trade_method.html'>trade_method.html</a></td>
                <td>支持的交易方法</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;股票对应规则</td>
                <td><a href='stock_rule.html'>stock_rule.html</a></td>
                <td>股票对应规则</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;股票买入规则</td>
                <td><a href='buy_rule.html'>buy_rule.html</a></td>
                <td>股票买入规则</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;股票卖出规则</td>
                <td><a href='sell_rule.html'>sell_rule.html</a></td>
                <td>股票卖出规则</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
