<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="static/plugins/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="StyleSheet" href="static/plugins/bootstrap-table/bootstrap-table.min.css" type="text/css"/>
    <link rel="StyleSheet" href="static/plugins/flavr/flavr.css" type="text/css"/>
    <link rel="StyleSheet" href="static/css/common/common.css" type="text/css"/>
    <link rel="StyleSheet" href="static/css/my.css" type="text/css"/>
    <link rel="StyleSheet" href="static/plugins/font-awesome/css/font-awesome.min.css" type="text/css">
 <style type="text/css">

 </style>
</head>
<body class="page-bg container">
<div>
    <div>
        <form class="form-inline">
            <div class="col-sm-3">
                <input type="text" class="form-control" id="keywords" value="" placeholder="股票编码或者股票名称"/>
            </div>
        </form>
    </div>
    <!-- 表格-开始  -->
    <table id="stockrule2_table" data-toggle="table"
           class="table-striped table-bordered table-hover">
    </table>
</div>
<script type="text/javascript" src="static/plugins/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="static/plugins/flavr/flavr.min.js"></script>
<script type="text/javascript" src="HttpReqUrl.js"></script>
<script type="text/javascript" src="static/myjs/myjs.js"></script>
<script type="text/javascript" src="stock_rule.js"></script>

</body>
</html>
