<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票小工具-处理股票信息</title>
    <link rel="StyleSheet" href="static/plugins/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="StyleSheet" href="static/plugins/bootstrap-table/bootstrap-table.min.css" type="text/css"/>
    <link rel="StyleSheet" href="static/plugins/flavr/flavr.css" type="text/css"/>
    <link rel="StyleSheet" href="static/css/common/common.css" type="text/css"/>
    <link rel="StyleSheet" href="static/css/my.css" type="text/css"/>
</head>
<body class="page-bg container" style="background-color: #eeeeee">
<div class="row" style="margin-top: 150px;">
    <div class="span12">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h2>欢迎登录 <a href="">两个蝴蝶飞</a>自用交易软件</h2>
                </div>
                <div class="mar30">
                    <p style="font-size: 18px;color: red;">股票有风险,入市需谨慎</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-offset-4 control-label">证券账号已经提前绑定,无需输入:</label>
                        </div>
                        <div class="form-group mar30">
                            <label class="col-sm-4 control-label">证券交易密码:</label>
                            <div class="col-sm-6">
                                <input type="password" class="underline_input" id="password" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">验证码:</label>
                            <div class="col-sm-4">
                                <input type="text" class="underline_input" id="identifyCode" value=""/>
                            </div>
                            <div class="col-sm-3">
                              <img id="yzm" src="" style="">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 40px;">
                            <div class="row col-sm-offset-5">
                                <button type="button" class="btn btn-success col-sm-6" id="login">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="static/plugins/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="static/plugins/flavr/flavr.min.js"></script>
<script type="text/javascript" src="HttpReqUrl.js"></script>
<script type="text/javascript" src="static/myjs/myjs.js"></script>
<script type="text/javascript" src="tradelogin.js"></script>

</body>
</html>