<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.StockSelectedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yueshushu.learn.pojo.StockSelected">
        <id column="id" property="id" />
        <result column="stock_code" property="stockCode" />
        <result column="stock_name" property="stockName" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <resultMap id="selectdVoMap" type="top.yueshushu.learn.mode.ro.StockSelectedVo">
        <id column="id" property="id" />
        <result column="stock_code" property="stockCode" />
        <result column="stock_name" property="stockName" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stock_code,stock_name, user_id, create_time
    </sql>
    <select id="selectByKeyword" resultMap="selectdVoMap">
        select <include refid="Base_Column_List"/> from stock_selected t
        <where>
            <if test="userId != null">
                and t.user_id =#{userId}
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                t.stock_code like concat('%',concat(#{keyword},'%'))
                or t.stock_name like concat('%',concat(#{keyword},'%'))
                )
            </if>
        </where>
        order by t.create_time asc
    </select>

</mapper>
