<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.TradeUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yueshushu.learn.pojo.TradeUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="passwrod" property="passwrod" />
        <result column="salt" property="salt" />
        <result column="user_id" property="userId" />
        <result column="cookie" property="cookie" />
        <result column="validate_key" property="validateKey" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, passwrod, salt, user_id, cookie, validate_key, create_time, update_time, flag
    </sql>

</mapper>
