<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.TradeEntrustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yueshushu.learn.pojo.TradeEntrust">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="entrust_date" property="entrustDate" />
        <result column="deal_type" property="dealType" />
        <result column="entrust_num" property="entrustNum" />
        <result column="entrust_price" property="entrustPrice" />
        <result column="entrust_status" property="entrustStatus" />
        <result column="entrust_code" property="entrustCode" />
        <result column="user_id" property="userId" />
        <result column="entrust_type" property="entrustType" />
        <result column="mock_type" property="mockType" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, entrust_date, deal_type, entrust_num, entrust_price, entrust_status, entrust_code, user_id,
        entrust_type,mock_type, flag
    </sql>

</mapper>
