<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.TradeDealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yueshushu.learn.domain.TradeDealDo">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="deal_date" property="dealDate" />
        <result column="deal_type" property="dealType" />
        <result column="deal_num" property="dealNum" />
        <result column="deal_price" property="dealPrice" />
        <result column="deal_money" property="dealMoney" />
        <result column="deal_code" property="dealCode" />
        <result column="entrust_code" property="entrustCode" />
        <result column="user_id" property="userId" />
        <result column="mock_type" property="mockType" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, deal_date, deal_type, deal_num, deal_price, deal_money, deal_code, entrust_code, user_id, mock_type, flag
    </sql>

</mapper>
